<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="fill" method="POST">
        {%csrf_token%}
        <h1>Enter product details</h1><br>
        Enter product id: <input type="number" name="id"><br>
        Enter product name: <input type="text" name="name"><br>
        Enter product price: <input type="number" name="price"><br>
        <input type="submit">
    </form>
    {%if submitted%}
    <h2>Form submitted succesfully</h2>
    {%endif%}
    <br><br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>